<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>

<body>

	<nav class="navbar navbar-dark bg-success" layout:fragment="header">
		<div class="container-fluid d-flex align-items-center justify-content-between">

			<!-- 左寄せグループ-->
			<div class="d-flex align-items-center">
				<a class="navbar-brand me-3" th:href="@{/menu}">残業管理アプリ</a>

				<!-- 左側ナビゲーション（横並び） -->
				<ul class="navbar-nav flex-row">
					<li class="nav-item">
						<a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" th:href="@{/overtime/list}">報告一覧</a>
					</li>
				</ul>
			</div>

			<!-- 右側： -->
			<div class="d-flex align-items-center">
				<div class="text-white text-end me-3">
					<div th:text="${loginUser.departmentName}" style="font-size: 0.85rem;"></div>
					<div th:text="${loginUser.familyName + ' ' + loginUser.firstName}" style="font-weight: bold;"></div>
				</div>

				<!-- トグル -->
				<button class="navbar-toggler d-block" type="button" data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<!-- トグルメニュー -->
			<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
				aria-labelledby="offcanvasDarkNavbarLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">menu</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
						aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item"><a class="nav-link" th:href="@{/menu}">ホーム</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/overtime/list}">報告一覧</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">設定</a>
							<ul class="dropdown-menu dropdown-menu-dark">
								<li><a class="dropdown-item" th:href="@{/setting}">ユーザー情報</a></li>
								<li th:if="${loginUser.role.name() == 'ADMIN'}">
									<a class="dropdown-item" th:href="@{/admin}">管理者メニュー</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li class="text-center">
									<form method="post" th:action="@{/logout}">
										<button type="submit"
											class="dropdown-item bg-transparent border-0">ログアウト</button>
									</form>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</nav>


</body>

</html>