<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Eメール変更画面</title>
</head>
<body>
	<div layout:fragment="content">
		<div class=" row mt-3">
			<div class="col-md-4 mb-3">
				<a th:href="@{/setting}" class="btn btn-outline-secondary btn-block w-100">ユーザー情報</a>
			</div>
			<div class="col-md-4 mb-3">
				<a th:href="@{/setting/email}" class="btn btn-outline-secondary btn-block w-100">Eメール変更</a>
			</div>
			<div class="col-md-4 mb-3">
				<a th:href="@{/setting/password}" class="btn btn-outline-secondary btn-block w-100">パスワードの変更</a>
			</div>
		</div>
		<div class="card setting-card mx-auto mt-3">
			<div class="card-header bg-secondary text-white">
				<h5 class="mb-0">パスワード変更</h5>
			</div>
			<div class="card-body">
				<form th:action="@{/setting/email}" method="post" th:object="${emailChangeForm}">
					<div class="mb-3">
						<label for="currentEmail">現在のEメール</label>
						<input type="email" id="currentEmail" class="form-control text-center" th:value="${email}"
							readonly />
					</div>
					<div class="mb-3">
						<label for="newEmail">新しいEメール</label>
						<input type="text" th:field="*{newEmail}" class="form-control" th:errorclass="is-invalid" />
						<div class="invalid-feedback" th:errors="*{newEmail}"></div>
					</div>
					<div class="mb-3">
						<label for="password">パスワード</label>
						<input type="password" th:field="*{password}" class="form-control" th:errorclass="is-invalid" />
						<div class="invalid-feedback" th:errors="*{password}"></div>
					</div>
					<div class="text-end mt-3">
						<button class="btn btn-warning">Eメールを変更</button>
					</div>
					<div class="text-end mt-3">
						<a th:href="@{/setting}">ユーザー情報に戻る</a>
					</div>
				</form>

			</div>
		</div>
	</div>
</body>

</body>
</html>